<footer class="footer">
  <div class="container --m">
    <div class="footer__inner flex --align-center --just-space">
      <a href="#top"
         class="footer__logo logo">
        @@include('../../../svg/include/logo_text_horisontal.svg',{"svgClass":"logo__pic"})
      </a>
      <p class="footer__text">Виробник м’яких вікон з прозорої плівки ПВХ</p>
      <p class="footer__copy">Copyright 2022 Всі права захищені</p>
      <a href="#"
         class="footer__link">Політика конфедіційності</a>
    </div>
  </div>
</footer>
