<section class="bullets">
  <h2 class="bullets__title"><strong class="bullets__title-bold">Перевірена унікальна конструкція,</strong> дає гарантію довгої служби та простоти використання
  </h2>
  <button class="bullets__item"><span class="bullets__item-plus">+</span><span class="bullets__item-text">Відрізняється від аналогів високою прозорістю, хімічну стійкість, стійкістю до усадки.</span>
  </button>
  <button class="bullets__item"><span class="bullets__item-plus">+</span><span class="bullets__item-text">Відрізняється від аналогів високою прозорістю, хімічну стійкість, стійкістю до усадки.</span>
  </button>
  <button class="bullets__item"><span class="bullets__item-plus">+</span><span class="bullets__item-text">Відрізняється від аналогів високою прозорістю, хімічну стійкість, стійкістю до усадки.</span>
  </button>
  <button class="bullets__item"><span class="bullets__item-plus">+</span><span class="bullets__item-text">Відрізняється від аналогів високою прозорістю, хімічну стійкість, стійкістю до усадки.</span>
  </button>
  <button class="bullets__item"><span class="bullets__item-plus">+</span><span class="bullets__item-text">Відрізняється від аналогів високою прозорістю, хімічну стійкість, стійкістю до усадки.</span>
  </button>
  <button class="bullets__item"><span class="bullets__item-plus">+</span><span class="bullets__item-text">Відрізняється від аналогів високою прозорістю, хімічну стійкість, стійкістю до усадки.</span>
  </button>
  <button class="bullets__item"><span class="bullets__item-plus">+</span><span class="bullets__item-text">Відрізняється від аналогів високою прозорістю, хімічну стійкість, стійкістю до усадки.</span>
  </button>
</section>
