<article class="products__item product flex --align-str --just-space">
  <picture class="product__pic">
    <source srcset="img/products/production-@@number.webp"
            type="image/webp">
    <img src="img/products/production-@@number.jpg"
         alt=""
         class="product__img">
  </picture>
  <div class="product__content flex --dir-col --just-space">
    <p class="product__number">0@@number</p>
    <h2 class="product__name">@@name</h2>
    <p class="product__text">@@text</p>
  </div>
</article>
