<header class="header flex --dir-col">
  @@include("../../../components/bem-blocks/topbar/_topbar.html")
  <div class="header__container container --fm flex --dir-col --just-center">
    <div class="header__inner">
      <h1 class="header__title"><strong class="header__title-accent">Виготовляємо м’які вікна з прозорої плівки ПВХ</strong>
        по індивідуальним розмірам
      </h1>
      <p class="header__text">всього за 7 днів з гарантією 2 роки</p>
      <ul class="header__list flex --just-space --align-center">
        <li class="header__list-item --svg__check-before">
          <strong class="header__list-item-title">Добре переносять
          </strong>
          мороз та спеку (від -45 до +60)
        </li>
        <li class="header__list-item --svg__check-before">
          <strong class="header__list-item-title">Чудово захищають
          </strong>
          від вітру, пилу, дощу та комах
        </li>
        <li class="header__list-item --svg__check-before">
          <strong class="header__list-item-title">Не жовтіють </strong>
          від впливу сонця
        </li>
      </ul>
      <div class="header__buttons-wrapper flex --align-str">
        <a href="#"
           class="header__btn button">Калькулятор вартості м’яких вікон</a>
        <a href="#"
           class="header__btn button --secondary">Зв’язатися з фахівцем за 30 секунд</a>
      </div>
    </div>
  </div>
  <!-- <div class="header__animate">
    <div class="header__animate-scene layer"></div>
  </div> -->
</header>
