<div class="advantages">
  <div class="container">
    <div class="advantages__inner flex --align-str --just-space">
      <div class="advantage-item">
        <p class="advantage-item__text">
          <strong class="advantage-item__text-accent">Беремо на себе матеріальну відповідальність </strong> за терміни або сплачуємо неустойку 1% від суми в договорі за день
        </p>
      </div>
      <div class="advantage-item">
        <p class="advantage-item__text">
          <strong class="advantage-item__text-accent">Виправляємо безкоштовно</strong> будь-який дефект або невідповідність якості
        </p>
      </div>
      <div class="advantage-item">
        <p class="advantage-item__text">
          <strong class="advantage-item__text-accent">Ніяких прихованих платежів.</strong> Ціна залишається фіксованою за договором до здачі робіт
        </p>
      </div>
    </div>
  </div>
</div>
