<!-- SECTION: testimonials -->
<section class="testimonials">
  <div class="container">
    <h2 class="testimonials__title">“<strong class="testimonials__title-accent">Хочемо висловити подяку</strong> фірмі ”PVH-Master” за якісне виготовлення м'яких вікон”</h2>
    <p class="testimonials__top-descr">Тільки реальні відгуки</p>
    <div class="testimonials__inner flex --just-space --align-str">

      <article class="testimonials__video-slider">
        <div class="swiper">
          <div class="swiper__header flex --just-space --align-center">
            <h3 class="testimonials__part-title">Відео відгуки</h3>
            <div class="swiper-button-prev">
              @@include("../../../svg/include/slider-arrow-prev.svg",{"class":"swiper-button-prev-icon"})
            </div>
            <div class="swiper-button-next">
              @@include("../../../svg/include/slider-arrow-next.svg",{"class":"swiper-button-next-icon"})
            </div>
          </div>
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <iframe src="https://www.youtube.com/embed/Q1mcGeUJomM"
                      title="YouTube video player"
                      frameborder="0"
                      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                      allowfullscreen>
              </iframe>
            </div>
            <div class="swiper-slide">
              <iframe src="https://www.youtube.com/embed/Q1mcGeUJomM"
                      title="YouTube video player"
                      frameborder="0"
                      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                      allowfullscreen>
              </iframe>
            </div>
            <div class="swiper-slide">
              <iframe src="https://www.youtube.com/embed/Q1mcGeUJomM"
                      title="YouTube video player"
                      frameborder="0"
                      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                      allowfullscreen>
              </iframe>
            </div>
            <div class="swiper-slide">
              <iframe src="https://www.youtube.com/embed/Q1mcGeUJomM"
                      title="YouTube video player"
                      frameborder="0"
                      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                      allowfullscreen>
              </iframe>
            </div>
          </div>
          <div class="swiper-pagination flex --just-center --align-center"></div>
        </div>
      </article>

      <article class="testimonials__google-wrapper">
        <div class="swiper">
          <div class="swiper__header flex --just-space --align-center">
            <h3 class="testimonials__part-title">Наші відгуки на Google картах</h3>
            <div class="swiper-button-prev">
              @@include("../../../svg/include/slider-arrow-prev.svg",{"class":"swiper-button-prev-icon"})
            </div>
            <div class="swiper-button-next">
              @@include("../../../svg/include/slider-arrow-next.svg",{"class":"swiper-button-prev-icon"})
            </div>
          </div>
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <picture class="testimonials__google-slide">
                <source srcset="img/testimonials/testimonials-phone.webp"
                        type="image/webp">
                <img src="img/testimonials/testimonials-phone.png"
                     alt=""
                     class="testimonials__google-img">
              </picture>
            </div>
            <div class="swiper-slide">
              <picture class="testimonials__google-slide">
                <source srcset="img/testimonials/testimonials-phone-2.webp"
                        type="image/webp">
                <img src="img/testimonials/testimonials-phone-2.png"
                     alt=""
                     class="testimonials__google-img">
              </picture>
            </div>
            <div class="swiper-slide">
              <picture class="testimonials__google-slide">
                <source srcset="img/testimonials/testimonials-phone.webp"
                        type="image/webp">
                <img src="img/testimonials/testimonials-phone.png"
                     alt=""
                     class="testimonials__google-img">
              </picture>
            </div>
            <div class="swiper-slide">
              <picture class="testimonials__google-slide">
                <source srcset="img/testimonials/testimonials-phone-2.webp"
                        type="image/webp">
                <img src="img/testimonials/testimonials-phone-2.png"
                     alt=""
                     class="testimonials__google-img">
              </picture>
            </div>
            <div class="swiper-slide">
              <picture class="testimonials__google-slide">
                <source srcset="img/testimonials/testimonials-phone.webp"
                        type="image/webp">
                <img src="img/testimonials/testimonials-phone.png"
                     alt=""
                     class="testimonials__google-img">
              </picture>
            </div>
            <div class="swiper-slide">
              <picture class="testimonials__google-slide">
                <source srcset="img/testimonials/testimonials-phone-2.webp"
                        type="image/webp">
                <img src="img/testimonials/testimonials-phone-2.png"
                     alt=""
                     class="testimonials__google-img">
              </picture>
            </div>
          </div>
        </div>
      </article>
    </div>
  </div>
</section>
<!-- !SECTION: testimonials -->
