<div class="advantages">
  <div class="container --fm">
    <div class="advantages__inner flex --align-str --just-space">
      <div class="advantages__item flex --align-center">
        <p class="advantages__item-text">
          <strong class="advantages__item-text-accent">Беремо на себе матеріальну відповідальність </strong> за терміни або сплачуємо неустойку 1% від суми в договорі за день
        </p>
        <picture class="advantages__item-pic">
          <source srcset="img/advantages/advantages_1.webp"
                  type="image/webp">
          <img src="img/advantages/advantages_1.png"
               alt="">
        </picture>
      </div>
      <div class="advantages__item flex --align-center">
        <p class="advantages__item-text">
          <strong class="advantages__item-text-accent">Виправляємо безкоштовно</strong> будь-який дефект або невідповідність якості
        </p>
        <picture class="advantages__item-pic">
          <source srcset="img/advantages/advantages_2.webp"
                  type="image/webp">
          <img src="img/advantages/advantages_2.png"
               alt="">
        </picture>
      </div>
      <div class="advantages__item flex --align-center">
        <p class="advantages__item-text">
          <strong class="advantages__item-text-accent">Ніяких прихованих платежів.</strong> Ціна залишається фіксованою за договором до здачі робіт
        </p>
        <picture class="advantages__item-pic">
          <source srcset="img/advantages/advantages_3.webp"
                  type="image/webp">
          <img src="img/advantages/advantages_3.png"
               alt="">
        </picture>
      </div>
    </div>
  </div>
</div>
