<ul class="@@class menu flex --align-center --just-space">
  <li class="menu-item">
    <a href="#"
       class="menu__link">розрахунок вартості</a>
  </li>
  <li class="menu-item">
    <a href="#"
       class="menu__link">Виконані проєкти</a>
  </li>
  <li class="menu-item">
    <a href="#"
       class="menu__link">Виробництво</a>
  </li>
  <li class="menu-item">
    <a href="#"
       class="menu__link">Переваги</a>
  </li>
  <li class="menu-item">
    <a href="#"
       class="menu__link">контакти</a>
  </li>
</ul>
