<div class="social @@class flex --just-space">
  <a href="#"
     class="social__link --viber"
     arial-label="viber"
     title="viber">
    @@include("../../../svg/include/viber.svg".{"class":"social__link-icon"})
  </a>
  <a href="#"
     class="social__link --telegram"
     arial-label="telegram"
     title="telegram">
    @@include("../../../svg/include/tg.svg".{"class":"social__link-icon"})
  </a>
  <a href="#"
     class="social__link --whatsapp"
     arial-label="whatsapp"
     title="whatsapp">
    @@include("../../../svg/include/whatsapp.svg".{"class":"social__link-icon"})
  </a>
</div>
