<article class="step @@class --just-space --align-str"
         data-step="@@number">
  <picture class="step__pic">
    <source srcset="img/steps/step-1.webp"
            type="image/webp">
    <img src="img/steps/step-1.jpg"
         alt=""
         class="step__img">
  </picture>
  <div class="step__content flex --dir-col --just-space">
    <span class="step__count">Крок @@number</span>
    <h3 class="step__title">Узгоджуємо з вами всі можливі варіанти</h3>
    <p class="step__text">Що входить в 1-й етап: </p>
    <ul class="step__list">
      <li class="step__list-item --svg__check-green-before">
        <strong class="step__accent">Консультуємо</strong> по вибору матеріалу плівки;
      </li>
      <li class="step__list-item --svg__check-green-before">
        <strong class="step__accent">Обговорюємо</strong> можливі  нюанси вашої конструкції;
      </li>
      <li class="step__list-item --svg__check-green-before">
        <strong class="step__accent">Підбираємо</strong> фурнітуру та методи кріплення;
      </li>
      <li class="step__list-item --svg__check-green-before">
        <strong class="step__accent">Попередньо розраховуємо</strong> вартість м'яких вікон через Viber, Telegram або WhatsApp.
      </li>
    </ul>
    <div class="step__info-block flex --just-space --align-center">
      <i class="step__info-icon --svg__info-before"></i>
      <p class="step__info-text">Перший етап <strong class="step__accent">допомагає вам дізнатися переваги роботи з нами</strong> та ні до чого вас не зобов'язує.</p>
    </div>
  </div>
</article>
