<!-- SECTION: cases -->
<section class="cases">
  <div class="container --m">
    <div class="cases__title flex --align-center">
      <p class="cases__count countup">185</p>
      <h2 class="cases__title-text"><strong class="cases__title-accent">Подивіться наші проекти</strong> з реальними фото за останні 3 роки</h2>
    </div>
    <div class="cases__filter flex --align-center --just-center">
      <button data-type="0"
              class="cases__filter-btn button --grouped --is-active">Всі</button>
      <button data-type="1"
              class="cases__filter-btn button --grouped">Альтанка</button>
      <button data-type="2"
              class="cases__filter-btn button --grouped">Тераса</button>
      <button data-type="3"
              class="cases__filter-btn button --grouped">Кафе / Ресторан</button>
      <button data-type="4"
              class="cases__filter-btn button --grouped">Веранда</button>
      <button data-type="5"
              class="cases__filter-btn button --grouped">Автомийка</button>
    </div>
    <div class="cases__inner">
      <picture class="cases__slide --is-active"
               data-type="1">
        <source type="image/webp"
                srcset="img/cases/cases-slide-1.webp">
        <img src="img/cases/cases-slide-1.jpg"
             alt=""
             class="cases__img">
      </picture>
      <picture class="cases__slide --is-active"
               data-type="2">
        <source type="image/webp"
                srcset="img/cases/cases-slide-2.webp">
        <img src="img/cases/cases-slide-2.jpg"
             alt=""
             class="cases__img">
      </picture>
      <picture class="cases__slide --is-active"
               data-type="3">
        <source type="image/webp"
                srcset="img/cases/cases-slide-3.webp">
        <img src="img/cases/cases-slide-3.jpg"
             alt=""
             class="cases__img">
      </picture>
      <picture class="cases__slide --is-active"
               data-type="4">
        <source type="image/webp"
                srcset="img/cases/cases-slide-4.webp">
        <img src="img/cases/cases-slide-4.jpg"
             alt=""
             class="cases__img">
      </picture>
      <picture class="cases__slide --is-active"
               data-type="1">
        <source type="image/webp"
                srcset="img/cases/cases-slide-1.webp">
        <img src="img/cases/cases-slide-1.jpg"
             alt=""
             class="cases__img">
      </picture>
      <picture class="cases__slide --is-active"
               data-type="2">
        <source type="image/webp"
                srcset="img/cases/cases-slide-2.webp">
        <img src="img/cases/cases-slide-2.jpg"
             alt=""
             class="cases__img">
      </picture>
      <picture class="cases__slide --is-active"
               data-type="3">
        <source type="image/webp"
                srcset="img/cases/cases-slide-3.webp">
        <img src="img/cases/cases-slide-3.jpg"
             alt=""
             class="cases__img">
      </picture>
      <picture class="cases__slide --is-active"
               data-type="4">
        <source type="image/webp"
                srcset="img/cases/cases-slide-4.webp">
        <img src="img/cases/cases-slide-4.jpg"
             alt=""
             class="cases__img">
      </picture>
      <picture class="cases__slide --is-active"
               data-type="1">
        <source type="image/webp"
                srcset="img/cases/cases-slide-1.webp">
        <img src="img/cases/cases-slide-1.jpg"
             alt=""
             class="cases__img">
      </picture>
      <picture class="cases__slide --is-active"
               data-type="2">
        <source type="image/webp"
                srcset="img/cases/cases-slide-2.webp">
        <img src="img/cases/cases-slide-2.jpg"
             alt=""
             class="cases__img">
      </picture>
      <picture class="cases__slide --is-active"
               data-type="3">
        <source type="image/webp"
                srcset="img/cases/cases-slide-3.webp">
        <img src="img/cases/cases-slide-3.jpg"
             alt=""
             class="cases__img">
      </picture>
      <picture class="cases__slide --is-active"
               data-type="4">
        <source type="image/webp"
                srcset="img/cases/cases-slide-4.webp">
        <img src="img/cases/cases-slide-4.jpg"
             alt=""
             class="cases__img">
      </picture>
      <picture class="cases__slide --is-active"
               data-type="1">
        <source type="image/webp"
                srcset="img/cases/cases-slide-1.webp">
        <img src="img/cases/cases-slide-1.jpg"
             alt=""
             class="cases__img">
      </picture>
      <picture class="cases__slide --is-active"
               data-type="2">
        <source type="image/webp"
                srcset="img/cases/cases-slide-2.webp">
        <img src="img/cases/cases-slide-2.jpg"
             alt=""
             class="cases__img">
      </picture>
      <picture class="cases__slide --is-active"
               data-type="3">
        <source type="image/webp"
                srcset="img/cases/cases-slide-3.webp">
        <img src="img/cases/cases-slide-3.jpg"
             alt=""
             class="cases__img">
      </picture>
      <picture class="cases__slide --is-active"
               data-type="4">
        <source type="image/webp"
                srcset="img/cases/cases-slide-4.webp">
        <img src="img/cases/cases-slide-4.jpg"
             alt=""
             class="cases__img">
      </picture>
      <picture class="cases__slide --is-active"
               data-type="1">
        <source type="image/webp"
                srcset="img/cases/cases-slide-1.webp">
        <img src="img/cases/cases-slide-1.jpg"
             alt=""
             class="cases__img">
      </picture>
      <picture class="cases__slide --is-active"
               data-type="2">
        <source type="image/webp"
                srcset="img/cases/cases-slide-2.webp">
        <img src="img/cases/cases-slide-2.jpg"
             alt=""
             class="cases__img">
      </picture>
      <picture class="cases__slide --is-active"
               data-type="3">
        <source type="image/webp"
                srcset="img/cases/cases-slide-3.webp">
        <img src="img/cases/cases-slide-3.jpg"
             alt=""
             class="cases__img">
      </picture>
      <picture class="cases__slide --is-active"
               data-type="4">
        <source type="image/webp"
                srcset="img/cases/cases-slide-4.webp">
        <img src="img/cases/cases-slide-4.jpg"
             alt=""
             class="cases__img">
      </picture>
      <picture class="cases__slide --is-active"
               data-type="1">
        <source type="image/webp"
                srcset="img/cases/cases-slide-1.webp">
        <img src="img/cases/cases-slide-1.jpg"
             alt=""
             class="cases__img">
      </picture>
      <picture class="cases__slide --is-active"
               data-type="2">
        <source type="image/webp"
                srcset="img/cases/cases-slide-2.webp">
        <img src="img/cases/cases-slide-2.jpg"
             alt=""
             class="cases__img">
      </picture>
      <picture class="cases__slide --is-active"
               data-type="3">
        <source type="image/webp"
                srcset="img/cases/cases-slide-3.webp">
        <img src="img/cases/cases-slide-3.jpg"
             alt=""
             class="cases__img">
      </picture>
      <picture class="cases__slide --is-active"
               data-type="4">
        <source type="image/webp"
                srcset="img/cases/cases-slide-4.webp">
        <img src="img/cases/cases-slide-4.jpg"
             alt=""
             class="cases__img">
      </picture>
      <picture class="cases__slide --is-active"
               data-type="1">
        <source type="image/webp"
                srcset="img/cases/cases-slide-1.webp">
        <img src="img/cases/cases-slide-1.jpg"
             alt=""
             class="cases__img">
      </picture>
      <picture class="cases__slide --is-active"
               data-type="2">
        <source type="image/webp"
                srcset="img/cases/cases-slide-2.webp">
        <img src="img/cases/cases-slide-2.jpg"
             alt=""
             class="cases__img">
      </picture>
      <picture class="cases__slide --is-active"
               data-type="3">
        <source type="image/webp"
                srcset="img/cases/cases-slide-3.webp">
        <img src="img/cases/cases-slide-3.jpg"
             alt=""
             class="cases__img">
      </picture>
      <picture class="cases__slide --is-active"
               data-type="4">
        <source type="image/webp"
                srcset="img/cases/cases-slide-4.webp">
        <img src="img/cases/cases-slide-4.jpg"
             alt=""
             class="cases__img">
      </picture>
    </div>
    <div class="cases__button-wrapper flex --just-center">
      <a href="#"
         class="cases__more-btn button">Відкрити більше наших робіт</a>
    </div>
  </div>
</section>
<!-- !SECTION: cases -->
