.flex {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.--just-space {
  justify-content: space-between;
}

.--just-center {
  justify-content: center;
}

.--just-end {
  justify-content: flex-end;
}

.--align-str {
  align-items: stretch;
}

.--align-center {
  align-items: center;
}

.--align-end {
  align-items: flex-end;
}

.--dir-col {
  flex-direction: column;
}

html {
  font-size: 16px;
}

html,
body {
  min-height: 100%;
  position: relative;
}

body {
  font-size: 1rem;
  font-family: var(--base-font), Arial, Helvetica, sans-serif;
}

picture {
  display: block;

  img {
    display: block;
    object-fit: contain;
    object-position: center;
    height: 100%;
    width: 100%;
  }
}
button,a,input{
  &:focus{
    outline: transparent;
  }
}
a{
  text-decoration: none;
}