  $color__black: var(--color__black);
  $color__blue-1: var(--color__blue-1);
  $color__blue-2: var(--color__blue-2);
  $color__blue-3: var(--color__blue-3);
  $color__dark-1: var(--color__dark-1);
  $color__dark-2: var(--color__dark-2);
  $color__dark-3: var(--color__dark-3);
  $color__dark-4: var(--color__dark-4);
  $color__green-1: var(--color__green-1);
  $color__green-2: var(--color__green-2);
  $color__green-3: var(--color__green-3);
  $color__green-4: var(--color__green-4);
  $color__green-5: var(--color__green-5);
  $color__green-6: var(--color__green-6);
  $color__green-7: var(--color__green-7);
  $color__green-8: var(--color__green-8);
  $color__green-9: var(--color__green-9);
  $color__grey-1: var(--color__grey-1);
  $color__grey-2: var(--color__grey-2);
  $color__grey-3: var(--color__grey-3);
  $color__grey-4: var(--color__grey-4);
  $color__grey-5: var(--color__grey-5);
  $color__grey-6: var(--color__grey-6);
  $color__grey-7: var(--color__grey-7);
  $color__grey-8: var(--color__grey-8);
  $color__grey-9: var(--color__grey-9);
  $color__grey-10: var(--color__grey-10);
  $color__grey-11: var(--color__grey-11);
  $color__orange-1: var(--color__orange-1);
  $color__orange-2: var(--color__orange-2);
  $color__orange-3: var(--color__orange-3);
  $color__orange-4: var(--color__orange-4);
  $color__orange-5: var(--color__orange-5);
  $color__orange-6: var(--color__orange-6);
  $color__orange-7: var(--color__orange-7);
  $color__orange-8: var(--color__orange-8);
  $color__orange-9: var(--color__orange-9);
  $color__orange-10: var(--color__orange-10);
  $color__orange-11: var(--color__orange-11);
  $color__violet: var(--color__violet);
  $color__white: var(--color__white);