.blogs {
  margin-top: 7.75rem;
  background-image: -webkit-image-set(url(../img/blogs/blogs-bg.png) 1x);
  background-image: url(../img/blogs/blogs-bg.webp);
  @include bg("cover");

  &__inner {
    padding-right: 11rem;
  }

  &__subscribe {
    flex: 1 1 auto;
    text-align: center;
  }

  &__title {
    font-size: 3rem;
    font-weight: 400;
    width: 100%;

    &.--subscribe {
      text-align: center;
      font-weight: 700;
    }
  }

  &__subscribe-pic {
    margin-top: 3.25rem;
    height: 100%;
    max-height: 45.5rem;
    margin-bottom: 1rem;
  }

  &__subscribe-img {}

  &__subscribe-btn {
    margin: auto auto 0;
  }

  &__posts-list {
    margin-left: 8rem;
    flex: 0 0 48.5rem;
  }

  &__posts-item {
    margin-top: 3.75rem;
  }

  &__posts-pic-wrapper {
    flex: 0 0 28rem;
    position: relative;
    overflow: hidden;
    border-radius: 1rem;
  }

  &__posts-pic-link {
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    z-index: 1;
  }

  &__posts-pic {
    height: 100%;
    width: 100%;
    transition: all 0.25s;
    filter: greyscale(50%);
    opacity: 0.75;
  }

  &__posts-pic-link:hover~&__posts-pic {
    transform: scale(1.1);
    filter: greyscale(0%);
    opacity: 1;
  }

  &__posts-img {
    object-fit: cover;
    object-position: center;
  }

  &__posts-content {
    margin-left: 2.75rem;

  }

  &__posts-date {
    text-transform: uppercase;
    color: var(--color__grey-7);
    font-weight: 500;
  }

  &__posts-title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 2.5rem;
  }

  &__posts-lead {
    opacity: 0.5;
    line-height: 1.5;
    margin-top: 2.5rem;
  }

  &__posts-link {
    display: inline-block;
    color: var(--color__orange-1);
    font-weight: 500;
    margin-top: 2.5rem;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      height: 3px;
      width: 100%;
      bottom: 0;
      border-bottom: 2px dotted currentColor;
    }

    &::after {
      display: inline-block;
      width: 1em;
      height: 0.75em;
      margin-left: 0.5em;
      @include bg("contain", "center bottom");
    }
  }

  &__posts-more {
    margin-top: 4rem;
    min-width: 21rem;
  }
}