<!-- SECTION: blogs -->
<section class="blogs">
  <div class="blogs__inner flex --just-space --align-str">
    <div class="blogs__subscribe flex --dir-col">
      <p class="blogs__title --subscribe">Максимально відкриті</p>
      <picture class="blogs__subscribe-pic">
        <source srcset="img/blogs/blogs-left.webp"
                type="image/webp">
        <img src="img/blogs/blogs-left.jpg"
             alt=""
             class="blogs__subscribe-img">
      </picture>
      <a href="https://instagram.com"
         class="blogs__subscribe-btn button"
         target="_blank"
         rel="nofollow noindex">Підписатись на сторінку</a>
    </div>

    <div class="blogs__posts-list flex --dir-col">
      <h2 class="blogs__title"><b>Корисні статті</b> з нашого блогу </h2>

      <article class="blogs__posts-item flex --just-space --align-str">
        <div class="blogs__posts-pic-wrapper">
          <a href="#"
             class="blogs__posts-pic-link"></a>
          <picture class="blogs__posts-pic">
            <source srcset="img/blogs/blog-post-pic.webp"
                    type="image/webp">
            <img src="img/blogs/blog-post-pic.jpg"
                 alt=""
                 class="blogs__posts-img">
          </picture>
        </div>

        <div class="blogs__posts-content">
          <time class="blogs__posts-date"
                datetime="05.02.2022">05.02.2022</time>
          <h3 class="blogs__posts-title">Як самостійно заміряти проєми вікон</h3>
          <p class="blogs__posts-lead">Відрізняється від аналогів високою прозорістю, хімічну стійкість, стійкістю до усадки. Не деформується і не жовтіє під впливом сонця</p>
          <a href="#"
             class="blogs__posts-link --svg__link-arrow-after">Читати докладніше</a>
        </div>
      </article>

      <article class="blogs__posts-item flex --just-space --align-str">
        <div class="blogs__posts-pic-wrapper">
          <a href="#"
             class="blogs__posts-pic-link"></a>
          <picture class="blogs__posts-pic">
            <source srcset="img/blogs/blog-post-pic.webp"
                    type="image/webp">
            <img src="img/blogs/blog-post-pic.jpg"
                 alt=""
                 class="blogs__posts-img">
          </picture>
        </div>

        <div class="blogs__posts-content">
          <time class="blogs__posts-date"
                datetime="05.02.2022">05.02.2022</time>
          <h3 class="blogs__posts-title">Як самостійно заміряти проєми вікон</h3>
          <p class="blogs__posts-lead">Відрізняється від аналогів високою прозорістю, хімічну стійкість, стійкістю до усадки. Не деформується і не жовтіє під впливом сонця Відрізняється від аналогів високою прозорістю...</p>
          <a href="#"
             class="blogs__posts-link --svg__link-arrow-after">Читати докладніше</a>
        </div>
      </article>

      <a href="#"
         class="blogs__posts-more button">перейти до блогу</a>
    </div>
  </div>
</section>
<!-- !SECTION: blogs -->
