<!-- SECTION: factories -->
<section class="factories">
  <div class="container --fm">
    <h2 class="factories__title"><strong class="factorio__title-accent">Наше виробництво об'єднує в собі багаторічний досвід роботи з ПВХ матеріалами</strong> і унікальну технологію зварювання тканин найвищої якості
    </h2>
    <div class="factories__inner">
      <div class="factories__list-items">

        <div class="factories__item flex --align-str --just-center">
          <div class="factories__item-content flex --dir-col">
            <span class="factories__item-num">01</span>
            <p class="factories__item-text">Зварювання за допомогою швейцарського обладнання</p>
          </div>
          <picture class="factories__item-pic">
            <source srcset="img/factories/factories-1.webp"
                    type="image/webp">
            <img src="img/factories/factories-1.jpg"
                 alt=""
                 class="factories__item-img">
          </picture>
        </div>

        <div class="factories__item flex --align-str --just-center">
          <div class="factories__item-content flex --dir-col">
            <span class="factories__item-num">02</span>
            <p class="factories__item-text">Спеціальне покриття столу для набивання люверсів яке не псує виріб</p>
          </div>
          <picture class="factories__item-pic">
            <source srcset="img/factories/factories-2.webp"
                    type="image/webp">
            <img src="img/factories/factories-2.jpg"
                 alt=""
                 class="factories__item-img">
          </picture>
        </div>

        <div class="factories__item flex --align-str --just-center">
          <div class="factories__item-content flex --dir-col">
            <span class="factories__item-num">04</span>
            <p class="factories__item-text">Зварювання на спеціалізованому столі</p>
          </div>
          <picture class="factories__item-pic">
            <source srcset="img/factories/factories-4.webp"
                    type="image/webp">
            <img src="img/factories/factories-4.jpg"
                 alt=""
                 class="factories__item-img">
          </picture>
        </div>

        <div class="factories__item flex --align-str --just-center">
          <div class="factories__item-content flex --dir-col">
            <span class="factories__item-num">03</span>
            <p class="factories__item-text">Заздалегідь підготовлені матеріали для швидкого виробництва</p>
          </div>
          <picture class="factories__item-pic">
            <source srcset="img/factories/factories-3.webp"
                    type="image/webp">
            <img src="img/factories/factories-3.jpg"
                 alt=""
                 class="factories__item-img">
          </picture>
        </div>

        <div class="factories__item flex --align-str --just-center">
          <div class="factories__item-content flex --dir-col">
            <span class="factories__item-num">05</span>
            <p class="factories__item-text">
              При виготовленні вікна виріб ми фіксуємо за допомогою малярного скотчу
            </p>
          </div>
          <picture class="factories__item-pic">
            <source srcset="img/factories/factories-5.webp"
                    type="image/webp">
            <img src="img/factories/factories-5.jpg"
                 alt=""
                 class="factories__item-img">
          </picture>
        </div>

        <div class="factories__item flex --align-str --just-center">
          <div class="factories__item-content flex --dir-col">
            <span class="factories__item-num">06</span>
            <p class="factories__item-text">
              Ширина японської плівки Ahiles 137 см якщо вікно має більший розмір ми з'єднуємо плівку прозорим швом
            </p>
          </div>
          <picture class="factories__item-pic">
            <source srcset="img/factories/factories-6.webp"
                    type="image/webp">
            <img src="img/factories/factories-6.jpg"
                 alt=""
                 class="factories__item-img">
          </picture>
        </div>
      </div>
      <ul class="factories__bottom-list">
        <li class="factories__bottom-item">
          <strong class="factories__bottom-item-accent"></strong>
        </li>
        <li class="factories__bottom-item">
          <strong class="factories__bottom-item-accent"></strong>
        </li>
        <li class="factories__bottom-item">
          <strong class="factories__bottom-item-accent"></strong>
        </li>
        <li class="factories__bottom-item">
          <strong class="factories__bottom-item-accent"></strong>
        </li>
        <li class="factories__bottom-item"></li>
      </ul>
      <ul class="factories__bottom-list">
        <li class="factories__bottom-item">
          <strong class="factories__bottom-item-accent"></strong>
        </li>
        <li class="factories__bottom-item">
          <strong class="factories__bottom-item-accent"></strong>
        </li>
        <li class="factories__bottom-item">
          <strong class="factories__bottom-item-accent"></strong>
        </li>
        <li class="factories__bottom-item">
          <strong class="factories__bottom-item-accent"></strong>
        </li>
      </ul>
    </div>
  </div>
</section>
<!-- !SECTION: factories -->
