<!-- SECTION: quiz -->
<section class="quiz">
  <div class="container --m">
    <div class="quiz__header">
      <h2 class="quiz__header-title">Калькулятор вартостості проекту + бонус</h2>
      <p class="quiz__header-text"><strong class="quis__header-accent">Отримайте за 1 хвилину розрахунок вартості м’яких вікон для вашого об’єкту</strong> в 2-х варіантах з урахуванням доставки і монтажу</p>
    </div>
    <div class="quiz__inner flex --just-space --align-str">
      <div class="quiz__slider">
        <div class="quiz__slider-progress flex --align-center --just-center">
          <div class="quiz__slider-progress-body --svg__progress"
               data-progress="6"></div>
          <span class="quiz__progress-descr"><strong>Питання&nbsp;<span class="quiz__progress-counter">1</span></strong>&nbsp;із 7</span>
        </div>
      
        <div class="quiz__slider-items-wrapper">
          @@include("../../bem-blocks/quiz-slides/slide-1/_slide1.html")
        </div>
      
      </div>
      <article class="quiz__content">
        <h3 class="quiz__content-title">По закінченню теста <br>
          ви отримаєте</h3>
        <div class="quiz__content-item">
          <span class="quiz__content-text">
            <strong class="quiz__content-accent">Розрахунок вартості
            </strong> в 2х варіантах
          </span>
          <picture class="quiz__content-pic">
            <source srcset="img/quiz/quiz-note.webp"
                    type="image/webp">
            <img src="img/quiz/quiz-note.png"
                 alt=""
                 class="quiz__content-img">
          </picture>
        </div>
        <div class="quiz__content-item">
          <picture class="quiz__content-pic">
            <source srcset="img/quiz/quiz-percent.webp"
                    type="image/webp">
            <img src="img/quiz/quiz-percent.png"
                 alt=""
                 class="quiz__content-img">
          </picture>
          <span class="quiz__content-text"><strong class="quiz__content-accent">Знижку 17%</strong> на всі роботи</span>
        </div>
        <div class="quiz__content-item">
          <strong class="quiz__content-accent">Подарунок</strong> на вибір
          <picture class="quiz__content-pic">
            <source srcset="img/quiz/quiz-gifts.webp"
                    type="image/webp">
            <img src="img/quiz/quiz-gifts.png"
                 alt=""
                 class="quiz__content-img">
          </picture>
        </div>
        <div class="quiz__employer">
          <p class="quiz__employer-text">
              <strong class="quiz__employer-name">Тетяна Шевченко</strong>Инженер компании
          </p>
          <picture class="quiz__employer-pic">
            <source srcset="img/quiz/quiz-employer.webp"
                    type="image/webp">
            <img src="img/quiz/quiz-employer.png"
                 alt=""
                 class="quiz__employer-img">
          </picture>
        </div>
      </article>
    </div>
  </div>
</section>
<!-- !SECTION: quiz -->
