<div class="products">
  <div class="container --fm">
    <div class="products__inner">
      @@loop("../../bem-blocks/products-item/_products-item.html", [
      {
      "number": "1",
      "name": "Люверс ",
      "text": "Надійний та практичний спосіб фіксувати м'які вікна. Конструкція якого має скобу, ремінець та фіксуючі пластини;"
      },
      {
      "number": "2",
      "name": "Підтяжка",
      "text": "Прозора підтяжка допомагає фіксувати вікно в скрученому положенні;"
      },
      {
      "number": "3",
      "name": "Навантажувач ",
      "text": "Використовуються в тих випадках коли немає можливості зафіксувати вікно за допомогою люверсів;"
      },
      {
      "number": "4",
      "name": "Кишеня для навантажувача ",
      "text": "Використовується в тих випадках коли немає можливості зафіксувати вікно за допомого люверсів;"
      },
      {
      "number": "5",
      "name": "Прозора плівка Ahiles",
      "text": "Відрізняється від аналогів високою прозорістю, хімічну стійкість, стійкістю до усадки. Не деформується і не жовтіє під впливом сонця;"
      },
      {
      "number": "6",
      "name": "Армована плівка Sienon",
      "text": "Тентова тканина ПВХ поєднує в собі такі якості, як міцність і еластичність, гнучкість і стійкість до зовнішніх впливів - УФ-променів, опадів (дощу, снігу, граду), горіння і корозії;"
      },
      {
      "number": "7",
      "name": "Металева блискавка",
      "text": "Спіральна металева блискавка з двостороннім бігунком дозволяє використання як зовні, так і всередині приміщення;"
      },
      {
      "number": "8",
      "name": "Відлив",
      "text": "Слугує для відведення зовнішніх опадів дощу та мокрого снігу;"
      }
      ])
    </div>
  </div>
</div>
